{% load static %}
<footer class="footer">
  <div class="container-flex">
    <div class="row footer-content pt-3">

      <div class="col-12 col-lg-4 pb-5 pb-lg-0 ">

        <div class="row d-flex justify-content-center pb-4">
          <h3 class="footer-text footer-social">Social media</h3>
        </div>

        <div class="row">
          <div class="col-2"></div>
          <div class="col-8 footer-logo-logo">
            <figure>
              <a href="https://www.facebook.com/pewniezeboli/" target="_blank">
                <img class="footer-logo"
                     src="{% static 'base/images/logo/logo-face-2.png' %}"
                     alt="logo facebook">
              </a>
            </figure>
            <figure>
              <a href="https://www.instagram.com/pewniezeboli_tattoo/"
                 target="_blank">
                <img class="footer-logo"
                     src="{% static 'base/images/logo/instagram-white.png' %}"
                     alt="logo insta">
              </a>
            </figure>

            <figure>
              <a
                href="https://www.youtube.com/watch?v=uAhifF5KKcw&index=4&list=PLYdHryWp-6o26VSRTsVwCgrmFoQ1TLjKc"
                target="_blank">
                <img class="footer-logo"
                     src="{% static 'base/images/logo/logo-youtube-2.png' %}"
                     alt="logo facebook">
              </a>
            </figure>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
      <div class="col-12 col-lg-4 pb-5 pb-lg-0 d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center">
          <ul class="footer-contact ">
            <li><h3 class="footer-text">Kontakt</h3></li>
            <li><span class="footer-text"> Ul. Wszystkich świętych 5</span></li>
            <li><span class="footer-text">61-843 Poznań</span></li>
            <li><a href="mailto:pewniezeboli@gmail.com"><span
              class="footer-text">pewniezeboli@gmail.com</span></a></li>
            <li><span class="footer-text">tel. 507 192 853</span></li>
          </ul>
        </div>
      </div>
      <div
        class="col-12 col-lg-4 pb-5 pb-lg-0 d-flex justify-content-center align-self-center">
        <a class="btn btn-outline-dark btn-lg"
           href="">
          <h3 class='faq-margin'>
          FAQ</h3>
        </a>
      </div>
    </div>
  </div>
</footer>